.home {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.pagination-buttons {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.pageNumber {
  color: #fff;
  text-align: center;
}
