.list {
  position: absolute;
  top: 35px;
  left: 0;
  padding: 8px;
  border-radius: 20px;
  box-shadow: rgb(134 134 134 / 10%) 1px 1px 8px;
  z-index: 2;
  background-color: #fff;
  height: 300px;
  overflow-y: auto;
}

.list-item {
  list-style: none;
  padding: 5px;
  display: flex;
  align-items: center;
}

.list-item > p {
  margin-left: 6px;
  font-weight: 600;
}
